@font-face {
    font-family: Covik Sans;
    src: url(type/Covik-Sans-Bold.ttf);
}
@font-face {
    font-family: Neue Frutiger World;
    src: url(type/NeueFrutigerWorld-Regular.otf);
}
*{
    margin: 0;
    padding: 0;
}
html{
    scrollbar-color: #aaaaaaca #aaaaaa00;
}

#CUBA_A_RR{
    
    transition: opacity 100ms ease-in-out;
}

#RR_A_MANAUS{
    
    transition: opacity 100ms 250ms ease-in-out;
}

#MANAUS_A_SP{
    
    transition: opacity 100ms 500ms ease-in-out;
}

#MANAUS_A_PORTO_ALEGRE{
    
    transition: opacity 100ms 750ms ease-in-out;
}

#SP_A_PORTO_ALEGRE{
    
    transition: opacity 100ms 1s ease-in-out;
}


#PORTO_ALEGRE_A_RIVERA{
    
    transition: opacity 100ms 1250ms ease-in-out;
}


#PORTO_ALEGRE_A_CHUY{
    
    transition: opacity 100ms 1250ms ease-in-out;
}

@keyframes lineaRight {
    from{transform: scale(0) rotate(-45deg);}
    to{transform: scale(1) rotate(0deg);}
}
@keyframes lineaLeft {
    from{transform: scale(0) rotate(45deg);}
    to{transform: scale(1) rotate(0deg);}
}

body{ 
    min-height: 5000px;
    background-color: black;
    transition: background-color 100ms ease-in-out;
}
#debug{
    z-index: 99;
    background-color: white;
    color: black;
    position: fixed;
    right: 0;
}

.botonera{
    position: fixed;
    z-index: 1;
}
.rotate{
    opacity: 0;
    display: none;
    transition: opacity 1s ease-in-out;
}


#LATAM_EN{
    display: none;
    will-change: transform;
    image-rendering: optimizeQuality;
    width: 100%;
    height: auto;
    position: fixed;
}

#LATAM{
    will-change: transform;
    image-rendering: optimizeQuality;
    width: 100%;
    height: auto;
    position: fixed;
}
@media only screen and (max-width: 844px) {
    .botonera{
        padding: 10px 30px 10px 30px;
    }
}
@media only screen and (max-width: 600px) {
    body{
        overflow: hidden;
    }
    .rotate{
        display: block;
        opacity: 1;
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #000000f9;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        color: aliceblue;
        font-family: Neue Frutiger World;
        font-size: 30pt;
        text-align: center;
        padding: 270px 0;
        z-index: 1;
    }
}