*{
    margin: 0;
    padding: 0;
}
html{
    scrollbar-color: #aaaaaaca #aaaaaa00;
}

body{
    min-height: 2500px;
    background-color: black;
    transition: background-color 1s ease-in-out;
}

.botonera{
    position: fixed;
    z-index: 1;
}

.linea{
    stroke: black;
    stroke-width: 10;
    fill: none;
  }

#LATAM_EN{
    display: none;
    will-change: transform;
    image-rendering: optimizeQuality;
    width: 100vw;
    height: auto;
    position: fixed;
}

#LATAM{
    will-change: transform;
    image-rendering: optimizeQuality;
    width: 100vw;
    height: auto;
    position: fixed;
}
